body {
    background-color:#DBD16E;
    font-family: Impact, Haettenschweiler;
    width: 600px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #8F2B54;
}

p {
    color: #f15295;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px
}

img {
    width: 200px;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
    
}

ul li {
    display: inline-block;
    padding-right: 20px;
}

ul li a {
    color: #8F2B54;
    font-size: 25px;
}

div.imagem {
    text-align: center;
}
